.comment-insert
{
	height: 150px;
	width: auto;
	margin: 10px 5px 10px 5px;
	border: 1px solid #e1e1e1;
	position: relative;
}
.comment-insert h3.who-says
{
	height: 35px;
	line-height: 32px;
	color: #2E5CB8;
	font-size: 14px;
	width: auto;
	margin: 0 10px 0 10px;
	border-bottom: 1px solid #e1e1e1;
}

.comment-insert h3.who-says span

{	
    color: #254A93;
}


.comment-insert .comment-insert-container
{
	margin: 5px 10px 5px 10px;
	border: 1px solid #0000ff;
	width: auto;
	min-height: 100px;
}


.comment-insert .comment-insert-container:hover
{
	 border: 1px solid #c1c1c1;
	
}
.comment-insert textarea.comment-insert-text
{
	border: 1px;
	border-style: solid; 
        border-color: #e1e1e1;
	min-width: 99.8%;
        min-height: 99px;
	resize: none;
}


.comment-post-btn-wrapper
{
	
	position: absolute;       /* ////////because of this, absolute up top ???????/////*/
	top: 2px;
	right: 10px;
	width: 60px;
	height: 25px;
	line-height: 22px;
	background: #6989CC;
	color: #ffffff;
	font-size: 14px;
	text-align: center;
	cursor: pointer;
	border: 1px solid #fff;  /* he took out button border */
}

.comment-post-btn-wrapper:hover
{
	
    background: #5E7BB8;
    color: #eaeaea;	
    border: 1px solid #a1a1a1;	/* he took out button border */

}
.comment-post-btn-wrapper-modal
{
	position: absolute;       /* ////////because of this, absolute up top ???????/////*/
	bottom: 2px;
	right: 10px;
	width: 60px;
	height: 25px;
	line-height: 22px;
	background: #6989CC;
	color: #ffffff;
	font-size: 14px;
	text-align: center;
	cursor: pointer;
	border: 1px solid #fff;  /* he took out button border */
}
.comment-post-btn-wrapper-modal:hover
{
	
    background: #5E7BB8;
    color: #eaeaea;	
    border: 1px solid #a1a1a1;	/* he took out button border */

}



