/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 9, 2017, 12:57:08 AM
    Author     : bodhisattwa
*/

.comment-reply-btn-wrapper
{
	position: relative;
	display: inline-block;
	right: 5px;
	bottom: 18px;
	width: 50px;
	height: 25px;
	line-height: 22px;
	background: #6989CC;
	color: #ffffff;
	font-size: 14px;
	text-align: center;
	cursor: pointer;
	border: 1px solid #fff;  /* he took out button border */
}
.comment-reply-text{
    width: 90%;
    margin: 5px;
    resize: none;
}
.comment-reply-post-container{
    display: inline-block;
    width : 100%;
    margin-top: 30px;
    border: 1px;
    border-style: solid; 
    border-color: #e1e1e1;
}
.comment-reply-container{
    display: inline-block;
    width : 100%;
    /* margin-top: auto; */
    /* margin-left: 5px; */
    /* margin-right: 5px; */
    border: 1px;
    border-style: solid;
    border-color: #e1e1e1;
    background: #ccffff;
    padding: 5px;
}

.comment-reply-btn-wrapper:hover
{
	
    background: #5E7BB8;
    color: #eaeaea;	
    border: 1px solid #a1a1a1;	/* he took out button border */

}
ul.comments-reply-holder-ul li.comment-reply-holder
	
	{
		list-style-type: none;
		background: #eaeaea;
		height: 80%; 
                width: 80%;
		margin: 5px 0 10px 0;
		border: 1px solid #e1e1e1;
		overflow: hidden;
		position: relative;
		
	}
        .delete-reply-button{
            float: right;
            font-size: 10px;
            margin: 5px;
            padding: 5px;
            text-align: center;
            color: #fff;
            background: #2E5CB8;
            cursor: pointer;
        }
        

        .delete-reply-button:hover
        {
            color: #444;
            background: #6D8DCD;
        }
		        